/* css variables
:root{
    --primary-color: #272727;
    --accent-color: #ff652f;
    --text-color: #ffffff;
}

body {
    background: var(--primary-color);
}
*/

//sass variables
$primary-color: #272727;
$accent-color: #ff652f; 
$text-color: #ffffff;
//mapping
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

body{
    background: $primary-color;
    color: $text-color;
    font-weight: map-get($font-weights , bold );
}